<% include partials/header %>
<h1>The blogs</h1>

<% blogs.forEach(function(blog) { %>
    <div>
        <h2> <%=blog.title%> </h2>
        <img src="<%=blog.image%>">
        <p><%=blog.created%></p>
        <p><a href="#">Show more</a></p>
    </div>
<% }); %>

<% include partials/footer %>